@import "tailwindcss";

@theme {
    --animate-bounce-complex: bounce-complex 8s ease-in;

        @keyframes bounce {
        50% {
            transform: translateY(-25%);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
        }
        0%, 100% {
            transform: none;
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    }
    @keyframes bounce-complex {
        0% {
            transform: translateY(
                /* transform to negative */
                calc(
                    -1 * 
                    (
                        ((var(--spacing) * 3) * (var(--number-cells-before) - 1)) + /* number of line gap */
                        (var(--cell-size) * var(--number-cells-before)) + /* get the number of cells */
                        (var(--spacing) * 6 * 2) /* get the padding and margin */
                    )
                )
            );
        }
    }
}